* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    min-height: 100vh;
    font-family: 'Noto sans';
    background: linear-gradient(#010161cb, rgb(139, 108, 250));
    color: #fff;
    font-size: 15px;
}

p {
    padding: 0 15px;
    text-align: justify;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

nav a  {
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
    cursor: default;
}

h1 {
    text-align: center;
    margin: 30px 0;
    margin-top: 15px;
}

main, ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

form{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
}

form input {
    width: 60%;
    height: 35px;
    border-radius: 3em 0 0 3em;
    padding-left: 15px;
    font-size: 16px;
}

form button {
    color: #fff;
    background-color: #01aa18;
    border-radius: 0 3em 3em 0;
    border: .6px solid #929292;
    text-align: center;
    font-size: 16px;
    padding: 0 5px;
    width: 70px;
}

form button:hover {
    cursor: pointer;
    border: 2px solid #e0e0e0;

}

section {
    width: 100%;
}

li {
    border-bottom: .2px solid #929292;
    padding: 7px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

li input {
    margin-right: 8px;
}

.task {
    width: 90%;
}

li button {
    height: 30px;
    width:  30px;
    background-color: rgb(233, 5, 5);
    border-radius: .4em;
    text-align: center;
    border: none;
}

li button:hover  {
    cursor: pointer;
    border: 1px solid rgba(95, 95, 95, 0.897);
}

.error {
    width: 90%;
    height: 10vh;
    text-align: center;
    color: #fff;
    font-size: 17px;
    background-color: rgba(211, 101, 101, 0.705);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .6em;
}

.hide {
    display: none;
}

.error > p {
    text-align: center;
}

@media screen and (min-width: 760px) {
    body {
        font-size: 17px;
    }
    nav {
        padding: 15px 40px;
    }
    form input {
        height: 40px;
        font-size: 18px;
    }
    form button {
        font-size: 18px;
        padding: 0 10px;
        width: 80px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    form input {
        width: 60%;
        height: 45px;
        border-radius: 3em 0 0 3em;
        padding-left: 15px;
        font-size: 20px;
    }
    form button {
        font-size: 19px;
        padding: 0 10px;
        width: 90px;
    }
}